* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: #e891d5;
}

.back-icon {
  position: fixed;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
  z-index: 1;
  box-shadow: 5px 5px black;
}

span {
  font-size: 30px;
  display: block;
  width: fit-content;
  /* position: fixed; */
}

button {
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 5px;
  font-size: 10px;
}

/* logo */

.container-center {
  margin: auto;
  padding: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
}

#logo {
  height: 50vh;
}

/* page titles */

#shop,
#images,
#music,
#about {
  position: fixed;
  font-size: 20px;
  background-color: transparent !important;
  z-index: 1;
}

.pages img:nth-child(3),
.pages img:nth-child(5),
.pages img:nth-child(7) {
  position: fixed;
  z-index: 1;
  background-color: transparent !important;
}

#images {
  top: 0;
  left: 0;
  color: #e04193;
  margin: 5px 0px 0px 10px;
}

#shop,
.pages img:nth-child(3) {
  top: 0;
  right: 0;
}

#shop {
  color: #f5936e;
  margin: 5px 10px 0px 0px;
}

#music,
.pages img:nth-child(5) {
  bottom: 0;
  left: 0;
}

#music {
  color: #91ead6;
  margin: 10px;
}

#about,
.pages img:nth-child(7) {
  bottom: 0;
  right: 0;
}

#about {
  color: #6eb7df;
  margin: 10px;
}

/* categories */

#category-list {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, 110px);
  padding: 1px;
}

.category {
  width: fit-content;
  display: inline-block;
  padding: 2px;
  overflow: hidden;
}

.category h3 {
  background-color: #e04193;
  margin: 5px;
  padding: 10px;
}

.category img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*  display items */

.display-items {
  text-align: center;
  width: 100vw;
  display: inline-block;
  margin-top: 50px;
  border-radius: 2px;
}

#image-large {
  width: 80vw;
  /* height: 70vh; */
  /* object-fit: contain; */
  margin-bottom: 10px;
}

#image-focus {
  background-color: #91ead6;
  font-size: 15px;
  padding: 5px;
}

.center-horizontal {
  width: fit-content;
  margin-top: 20vh;
  position: fixed;
  z-index: 1;
  box-shadow: 5px 5px black;
}

#close-popup {
  position: fixed;
  top: 0;
  right: 0;
}

/* shop items */

/* clothes jewellery other  */

#category-list.container-center.shop-item-list {
  grid-template-columns: repeat(2, 150px);
  grid-column-gap: 5px;
  position: absolute;
  margin-top: 50vh;
}

.adding-removing-items span {
  padding: 2px;
  background-color: #91ead6;
  font-size: 12px;
  border-radius: 2px;
}

.adding-removing-items {
  margin-top: 5px;
  display: block;
}

/* patches */

h3 {
  text-align: center;
}

#patch-type.container-center {
  text-align: center;
}

#custom-designs.categories-center {
  grid-template-columns: 133px;
}

button {
  width: fit-content;
  margin: 2px;
  padding: 4px;
  background-color: white;
  border-color: #e04193;
}

span,
.patch-selects label {
  padding: 2px;
  margin: 3px;
  background-color: #91ead6;
  font-size: 12px;
  border-radius: 2px;
}

#custom-patch-price {
  margin: auto;
}

.patch-custom {
  margin-top: 15vh;
  text-align: center;
}

.patch-custom img {
  height: 30vh;
}

#patch-frame {
  position: absolute;
}

.patch-selects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 5px;
}

.patch-selects.add-many-cart {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5px;
}

.patch-selects select {
  width: 100px;
  border-color: #e04193;
}

.patch-selects label {
  font-size: 12px;
}

.patch-price span {
  display: inline-block;
  margin-top: 10px;
}

.span {
  height: fit-content;
}

.patches-all-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  margin-top: 30px;
}

.patches-all-container .grid-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer-container {
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: fixed;
}

#patch-popup {
  width: 100vw;
  margin-bottom: 100px;
}

#patch-popup-2 {
  width: 100vw;
  margin-top: 100px;
}

#disclaimer-text {
  padding: 5px;
  color: #e04193;
}

.patch-selects,
.patch-custom img,
.patch-selects.add-many-cart,
.patches-all-container,
#patch-popup,
#patch-popup-2,
#disclaimer-heading,
#disclaimer-text {
  background-color: transparent !important;
}

#random-add.patch-custom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px 30px 10px 30px;
  margin-top: 0;
  box-shadow: 2px 2px;
}

#random-add span {
  font-size: 20px;
  width: 80%;
  padding: 3px;
}

#size {
  background-color: #e04193;
  font-size: 15px;
  color: white;
}

/* basket */

.basket-container {
  height: fit-content;
  width: 200px;
  background-color: #e04193;
  position: fixed;
  right: 0;
  top: 0;
  padding: 5px;
  z-index: 2;
}

.basket-container li {
  background-color: #e04193;
  padding: 10px;
}

.basket-icon {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  margin-top: 15px;
  height: 60px;
  background-color: transparent !important;
}

.basket-icon:hover {
  cursor: pointer;
  border-radius: 50%;
}
