* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: #e891d5;
}

.back-icon {
  position: fixed;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
}

/* logo */

.container-center {
  margin: auto;
  padding: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
}

#logo {
  height: 50vh;
}

/* page titles */

#shop,
#images,
#music,
#about {
  position: fixed;
  font-size: 20px;
  background-color: transparent !important;
}

.pages img:first-child,
.pages img:nth-child(3),
.pages img:nth-child(5),
.pages img:nth-child(7) {
  position: fixed;
  background-color: transparent !important;
}

#images {
  top: 0;
  left: 0;
  color: #e04193;
  margin: 5px 0px 0px 10px;
}

#shop,
.pages img:nth-child(3) {
  top: 0;
  right: 0;
}

#shop {
  color: #f5936e;
  margin: 5px 10px 0px 0px;
}

#music,
.pages img:nth-child(5) {
  bottom: 0;
  left: 0;
}

#music {
  color: #91ead6;
  margin: 10px;
}

#about,
.pages img:nth-child(7) {
  bottom: 0;
  right: 0;
}

#about {
  color: #6eb7df;
  margin: 10px;
}

/* categories */

#category-list {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, 110px);
  padding: 1px;
}

.category {
  width: fit-content;
  display: inline-block;
  padding: 2px;
}

.category h3 {
  background-color: #e04193;
  margin: 5px;
  padding: 10px;
}

.category img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* items */

.display-items {
  text-align: center;
  width: 100vw;
  display: inline-block;
  margin-top: 50px;
  border-radius: 2px;
}
